.popup{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.popup.open {
    opacity: 100%;
}

.mainContainer{
    position: absolute;
    z-index: 55;
    width: 60%;
    height: 60%;
    box-shadow: 1px 3px 10px 4px #6b6060;
    border-radius: 20px;
    background: #fafafa;
}